#nprogress {
    pointer-events: none
}

#nprogress .bar {
    background: #3eaf7c;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px
}

#nprogress .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    -webkit-box-shadow: 0 0 10px #3eaf7c, 0 0 5px #3eaf7c;
    box-shadow: 0 0 10px #3eaf7c, 0 0 5px #3eaf7c;
    opacity: 1;
    -webkit-transform: rotate(3deg) translateY(-4px);
    transform: rotate(3deg) translateY(-4px)
}

#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-top-color: #3eaf7c;
    border-left-color: #3eaf7c;
    border-radius: 50%;
    -webkit-animation: nprogress-spinner .4s linear infinite;
    animation: nprogress-spinner .4s linear infinite
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative
}

.nprogress-custom-parent #nprogress .bar,
.nprogress-custom-parent #nprogress .spinner {
    position: absolute
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.content code {
    color: #476582;
    padding: .25rem .5rem;
    margin: 0;
    font-size: .85em;
    background-color: rgba(27, 31, 35, .05);
    border-radius: 3px
}

.content pre,
.content pre[class*=language-] {
    line-height: 1.4;
    padding: 1.25rem 1.5rem;
    margin: .85rem 0;
    background-color: #282c34;
    border-radius: 6px;
    overflow: auto
}

.content pre[class*=language-] code,
.content pre code {
    color: #fff;
    padding: 0;
    background-color: transparent;
    border-radius: 0
}

div[class*=language-] {
    position: relative;
    background-color: #282c34;
    border-radius: 6px
}

div[class*=language-] .highlight-lines {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 1.3rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 1.4
}

div[class*=language-] .highlight-lines .highlighted {
    background-color: rgba(0, 0, 0, .66)
}

div[class*=language-] pre,
div[class*=language-] pre[class*=language-] {
    background: transparent;
    position: relative;
    z-index: 1
}

div[class*=language-]:before {
    position: absolute;
    z-index: 3;
    top: .8em;
    right: 1em;
    font-size: .75rem;
    color: hsla(0, 0%, 100%, .4)
}

div[class*=language-]:not(.line-numbers-mode) .line-numbers-wrapper {
    display: none
}

div[class*=language-].line-numbers-mode .highlight-lines .highlighted {
    position: relative
}

div[class*=language-].line-numbers-mode .highlight-lines .highlighted:before {
    content: " ";
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    display: block;
    width: 3.5rem;
    height: 100%;
    background-color: rgba(0, 0, 0, .66)
}

div[class*=language-].line-numbers-mode pre {
    padding-left: 4.5rem;
    vertical-align: middle
}

div[class*=language-].line-numbers-mode .line-numbers-wrapper {
    position: absolute;
    top: 0;
    width: 3.5rem;
    text-align: center;
    color: hsla(0, 0%, 100%, .3);
    padding: 1.25rem 0;
    line-height: 1.4
}

div[class*=language-].line-numbers-mode .line-numbers-wrapper .line-number,
div[class*=language-].line-numbers-mode .line-numbers-wrapper br {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

div[class*=language-].line-numbers-mode .line-numbers-wrapper .line-number {
    position: relative;
    z-index: 4;
    font-size: .85em
}

div[class*=language-].line-numbers-mode:after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 3.5rem;
    height: 100%;
    border-radius: 6px 0 0 6px;
    border-right: 1px solid rgba(0, 0, 0, .66);
    background-color: #282c34
}

div[class~=language-js]:before {
    content: "js"
}

div[class~=language-ts]:before {
    content: "ts"
}

div[class~=language-html]:before {
    content: "html"
}

div[class~=language-md]:before {
    content: "md"
}

div[class~=language-vue]:before {
    content: "vue"
}

div[class~=language-css]:before {
    content: "css"
}

div[class~=language-sass]:before {
    content: "sass"
}

div[class~=language-scss]:before {
    content: "scss"
}

div[class~=language-less]:before {
    content: "less"
}

div[class~=language-stylus]:before {
    content: "stylus"
}

div[class~=language-go]:before {
    content: "go"
}

div[class~=language-java]:before {
    content: "java"
}

div[class~=language-c]:before {
    content: "c"
}

div[class~=language-sh]:before {
    content: "sh"
}

div[class~=language-yaml]:before {
    content: "yaml"
}

div[class~=language-javascript]:before {
    content: "js"
}

div[class~=language-typescript]:before {
    content: "ts"
}

div[class~=language-markup]:before {
    content: "html"
}

div[class~=language-markdown]:before {
    content: "md"
}

div[class~=language-json]:before {
    content: "json"
}

div[class~=language-ruby]:before {
    content: "rb"
}

div[class~=language-python]:before {
    content: "py"
}

div[class~=language-bash]:before {
    content: "sh"
}

.custom-block .custom-block-title {
    font-weight: 600;
    margin-bottom: -.4rem
}

.custom-block.danger,
.custom-block.tip,
.custom-block.warning {
    padding: .1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0
}

.custom-block.tip {
    background-color: #f3f5f7;
    border-color: #42b983
}

.custom-block.warning {
    background-color: rgba(255, 229, 100, .3);
    border-color: #e7c000;
    color: #6b5900
}

.custom-block.warning .custom-block-title {
    color: #b29400
}

.custom-block.warning a {
    color: #2c3e50
}

.custom-block.danger {
    background-color: #ffe6e6;
    border-color: #c00;
    color: #4d0000
}

.custom-block.danger .custom-block-title {
    color: #900
}

.custom-block.danger a {
    color: #2c3e50
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0
}

.arrow.up {
    border-bottom: 6px solid #ccc
}

.arrow.down,
.arrow.up {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent
}

.arrow.down {
    border-top: 6px solid #ccc
}

.arrow.right {
    border-left: 6px solid #ccc
}

.arrow.left,
.arrow.right {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent
}

.arrow.left {
    border-right: 6px solid #ccc
}

.content:not(.custom) {
    max-width: 740px;
    margin: 0 auto;
    padding: 2rem 2.5rem
}

@media (max-width:959px) {
    .content:not(.custom) {
        padding: 2rem
    }
}

@media (max-width:419px) {
    .content:not(.custom) {
        padding: 1.5rem
    }
}

.table-of-contents .badge {
    vertical-align: middle
}

body,
html {
    padding: 0;
    margin: 0
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: #2c3e50;
    background-color:#fff
}

.page {
    padding-left: 20rem
}

.navbar {
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    height: 3.6rem;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #eaecef
}

.sidebar-mask {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none
}

.sidebar {
    font-size: 15px;
    background-color: #fff;
    width: 20rem;
    position: fixed;
    z-index: 10;
    margin: 0;
    top: 3.6rem;
    left: 0;
    bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #eaecef;
    overflow-y: auto
}

.content:not(.custom) #>:first-child,
.content:not(.custom) # margin-top $navbarHeight,
.content:not(.custom) a:hover {
    text-decoration: underline
}

.content:not(.custom) p.demo {
    padding: 1rem 1.5rem;
    border: 1px solid #ddd;
    border-radius: 4px
}

.content:not(.custom) img {
    max-width: 100%
}

.content.custom {
    padding: 0;
    margin: 0
}

.content.custom img {
    max-width: 100%
}

a {
    font-weight: 500;
    text-decoration: none
}

a,
p a code {
    color: #3eaf7c
}

p a code {
    font-weight: 400
}

kbd {
    background: #eee;
    border: .15rem solid #ddd;
    border-bottom: .25rem solid #ddd;
    border-radius: .15rem;
    padding: 0 .15em
}

blockquote {
    font-size: 1.2rem;
    color: #999;
    border-left: .25rem solid #dfe2e5;
    margin-left: 0;
    padding-left: 1rem
}

ol,
ul {
    padding-left: 1.2em
}

strong {
    font-weight: 600
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.25
}

.content:not(.custom)>h1,
.content:not(.custom)>h2,
.content:not(.custom)>h3,
.content:not(.custom)>h4,
.content:not(.custom)>h5,
.content:not(.custom)>h6 {
    margin-top: -3.1rem;
    padding-top: 4.6rem;
    margin-bottom: 0
}

.content:not(.custom)>h1:first-child,
.content:not(.custom)>h2:first-child,
.content:not(.custom)>h3:first-child,
.content:not(.custom)>h4:first-child,
.content:not(.custom)>h5:first-child,
.content:not(.custom)>h6:first-child {
    margin-top: -1.5rem;
    margin-bottom: 1rem
}

.content:not(.custom)>h1:first-child+.custom-block,
.content:not(.custom)>h1:first-child+p,
.content:not(.custom)>h1:first-child+pre,
.content:not(.custom)>h2:first-child+.custom-block,
.content:not(.custom)>h2:first-child+p,
.content:not(.custom)>h2:first-child+pre,
.content:not(.custom)>h3:first-child+.custom-block,
.content:not(.custom)>h3:first-child+p,
.content:not(.custom)>h3:first-child+pre,
.content:not(.custom)>h4:first-child+.custom-block,
.content:not(.custom)>h4:first-child+p,
.content:not(.custom)>h4:first-child+pre,
.content:not(.custom)>h5:first-child+.custom-block,
.content:not(.custom)>h5:first-child+p,
.content:not(.custom)>h5:first-child+pre,
.content:not(.custom)>h6:first-child+.custom-block,
.content:not(.custom)>h6:first-child+p,
.content:not(.custom)>h6:first-child+pre {
    margin-top: 2rem
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor,
h6:hover .header-anchor {
    opacity: 1
}

h1 {
    font-size: 2.2rem
}

h2 {
    font-size: 1.65rem;
    padding-bottom: .3rem;
    border-bottom: 1px solid #eaecef
}

h3 {
    font-size: 1.35rem
}

a.header-anchor {
    font-size: .85em;
    float: left;
    margin-left: -.87em;
    padding-right: .23em;
    margin-top: .125em;
    opacity: 0
}

a.header-anchor:hover {
    text-decoration: none
}

.line-number,
code,
kbd {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

ol,
p,
ul {
    line-height: 1.7
}

hr {
    border: 0;
    border-top: 1px solid #eaecef
}

table {
    border-collapse: collapse;
    margin: 1rem 0;
    display: block;
    overflow-x: auto
}

tr {
    border-top: 1px solid #dfe2e5
}

tr:nth-child(2n) {
    background-color: #f6f8fa
}

td,
th {
    border: 1px solid #dfe2e5;
    padding: .6em 1em
}

.custom-layout {
    padding-top: 3.6rem
}

.theme-container.sidebar-open .sidebar-mask {
    display: block
}

.theme-container.no-navbar .content:not(.custom)>h1,
.theme-container.no-navbar h2,
.theme-container.no-navbar h3,
.theme-container.no-navbar h4,
.theme-container.no-navbar h5,
.theme-container.no-navbar h6 {
    margin-top: 1.5rem;
    padding-top: 0
}

.theme-container.no-navbar .sidebar {
    top: 0
}

.theme-container.no-navbar .custom-layout {
    padding-top: 0
}

@media (min-width:720px) {
    .theme-container.no-sidebar .sidebar {
        display: none
    }

    .theme-container.no-sidebar .page {
        padding-left: 0
    }
}

@media (max-width:959px) {
    .sidebar {
        font-size: 15px;
        width: 16.4rem
    }

    .page {
        padding-left: 16.4rem
    }
}

@media (max-width:719px) {
    .sidebar {
        top: 0;
        padding-top: 3.6rem;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: -webkit-transform .2s ease;
        transition: -webkit-transform .2s ease;
        transition: transform .2s ease;
        transition: transform .2s ease, -webkit-transform .2s ease
    }

    .page {
        padding-left: 0
    }

    .theme-container.sidebar-open .sidebar {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .theme-container.no-navbar .sidebar {
        padding-top: 0
    }
}

@media (max-width:419px) {
    h1 {
        font-size: 1.9rem
    }

    .content div[class*=language-] {
        margin: .85rem -1.5rem;
        border-radius: 0
    }
}

.content .section {
    margin-top: -4.1rem;
    padding-top: 4.1rem;
    margin-bottom: 0
}

.content .section:hover .headerlink {
    opacity: 1
}

.footnote-reference,
.label,
dt,
p {
    margin-top: -3.6rem;
    padding-top: 3.6rem
}

a:focus {
    outline: none
}

h1:hover a.headerlink:after,
h2:hover a.headerlink:after,
h3:hover a.headerlink:after,
h4:hover a.headerlink:after,
h5:hover a.headerlink:after,
h6:hover a.headerlink:after {
    visibility: visible;
    content: "#"
}

a.headerlink {
    font-size: .85em;
    visibility: hidden
}

a.headerlink:hover {
    text-decoration: none
}

ul.page-nav {
    list-style: none
}

ul.page-nav li {
    display: inline-block
}

.body-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.body-header ul.page-nav {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    list-style: none;
    list-style-position: inside;
    text-align: right;
    margin-right: 30px
}

.body-header ul.page-nav li+li:before {
    content: "|";
    padding: 0 1em
}

ul.breadcrumbs {
    list-style: none
}

ul.breadcrumbs li {
    display: inline-block
}

.toctree-wrapper .caption {
    font-weight: 600;
    line-height: 1.25;
    font-size: 1.65rem;
    padding-bottom: .3rem;
    border-bottom: 1px solid #eaecef
}

.footer {
    clear: both;
    min-height: 2rem;
    padding-top: 1rem;
    overflow: auto;
    color: grey;
    font-size: small;
    line-height: 1.5rem
}

.content .highlight {
    border-radius: 6px
}

.content .highlight pre {
    background-color: inherit
}

.content .highlighted {
    background-color: #fbe54e;
    font-weight: 700;
    padding: 0 4px
}

.admonition {
    padding: .1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
    background-color: #e2e2e2;
    border-color: #787878
}

.admonition .admonition-title {
    font-weight: 600;
    margin-bottom: -.4rem
}

.admonition.hint,
.admonition.tip {
    background-color: #f3f5f7;
    border-color: #42b983
}

.admonition.important,
.admonition.note {
    background-color: #e5f1fb;
    border-color: #5faaea
}

.admonition.caution,
.admonition.warning {
    background-color: rgba(255, 229, 100, .3);
    border-color: #e7c000;
    color: #6b5900
}

.admonition.caution .custom-block-title,
.admonition.warning .custom-block-title {
    color: #b29400
}

.admonition.caution a,
.admonition.warning a {
    color: #2c3e50
}

.admonition.danger,
.admonition.error {
    background-color: #ffe6e6;
    border-color: #c00;
    color: #4d0000
}

.admonition.danger .custom-block-title,
.admonition.error .custom-block-title {
    color: #900
}

.admonition.danger a,
.admonition.error a {
    color: #2c3e50
}

blockquote {
    margin-left: -.4rem
}

.icon.outbound {
    color: #aaa;
    display: inline-block
}

.sidebar-button {
    display: none;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    padding: .6rem;
    top: .6rem;
    left: 1rem
}

.sidebar-button .icon {
    display: block;
    width: 1.25rem;
    height: 1.25rem
}

@media (max-width:719px) {
    .sidebar-button {
        display: block
    }
}

.navbar {
    padding: .7rem 1.5rem;
    line-height: 2.2rem;
    position: fixed
}

.navbar a,
.navbar img,
.navbar span {
    display: inline-block
}

.navbar .logo {
    height: 2.2rem;
    min-width: 2.2rem;
    margin-right: .8rem;
    vertical-align: top
}

.navbar .site-name {
    font-size: 1.3rem;
    font-weight: 600;
    color: #2c3e50;
    position: relative
}

.navbar .links {
    font-size: .9rem;
    position: absolute;
    right: 1.5rem;
    top: .7rem
}

@media (max-width:719px) {
    .navbar {
        padding-left: 4rem
    }

    .navbar .can-hide {
        display: none
    }
}

.nav-links {
    display: inline-block
}

.nav-links a {
    line-height: 1.4rem;
    color: inherit
}

.nav-links a.router-link-active,
.nav-links a:hover {
    color: #3eaf7c
}

.nav-links .nav-item {
    position: relative;
    display: inline-block;
    margin-left: 1.5rem;
    line-height: 2rem
}

.nav-links .repo-link {
    margin-left: 1.5rem
}

@media (max-width:719px) {

    .nav-links .nav-item,
    .nav-links .repo-link {
        margin-left: 0
    }
}

@media (min-width:719px) {

    .nav-links a.router-link-active,
    .nav-links a:hover {
        color: #2c3e50
    }

    .nav-item>a:not(.external).router-link-active,
    .nav-item>a:not(.external):hover {
        margin-bottom: -2px;
        border-bottom: 2px solid #46bd87
    }
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none
}

.sidebar a {
    display: inline-block
}

.sidebar .nav-links {
    display: none;
    border-bottom: 1px solid #eaecef;
    padding: .5rem 0 .75rem 0
}

.sidebar .nav-links a {
    font-weight: 600
}

.sidebar .nav-links .nav-item,
.sidebar .nav-links .repo-link {
    display: block;
    line-height: 1.25rem;
    font-size: 1.1em;
    padding: .5rem 0 .5rem 1.5rem
}

.sidebar .searchbox {
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.5rem;
    padding: 1rem 0 1.5rem 1.5rem;
    border-bottom: 1px solid #eaecef
}

.sidebar .sidebar-links {
    padding: 1.5rem 0
}

@media (max-width:719px) {
    .sidebar .nav-links {
        display: block
    }

    .sidebar .nav-links .dropdown-wrapper .nav-dropdown .dropdown-item a.router-link-active:after {
        top: calc(1rem - 2px)
    }

    .sidebar .sidebar-links {
        padding: 1rem 0
    }
}

.sidebar-group:not(.first) {
    margin-top: 1em
}

.sidebar-group .sidebar-group {
    padding-left: .5em
}

.sidebar-group:not(.collapsable) .caption {
    cursor: auto;
    color: inherit
}

.sidebar-group .caption {
    color: #999;
    -webkit-transition: color .15s ease;
    transition: color .15s ease;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 700;
    padding: 0 1.5rem;
    margin-top: 0;
    margin-bottom: .5rem
}

.sidebar-group .caption.open,
.sidebar-group .caption:hover {
    color: inherit
}

.sidebar-group .caption .arrow {
    position: relative;
    top: -.12em;
    left: .5em
}

.sidebar-group .caption:.open .arrow {
    top: -.18em
}

.sidebar-group-items {
    -webkit-transition: height .1s ease-out;
    transition: height .1s ease-out;
    overflow: hidden
}

.sidebar .toctree-l1 ul {
    font-size: .95em
}

.sidebar .toctree-l1 a,
.sidebar .toctree-l2 a {
    font-weight: 400;
    display: inline-block;
    color: #2c3e50;
    line-height: 1.4;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-left: .5rem solid transparent
}

.sidebar .toctree-l1 a.current,
.sidebar .toctree-l2 a.current {
    color: #3eaf7c;
    font-weight: 600
}

.sidebar .toctree-l1 a:hover,
.sidebar .toctree-l2 a:hover {
    color: #3eaf7c
}

.sidebar .toctree-l1.current a {
    border-left: .5rem solid #86d4b1
}

.sidebar .toctree-l1 a {
    padding: .35rem 1rem .35rem 1.25rem
}

.sidebar .toctree-l1 a.current {
    border-left-color: #3eaf7c
}

.sidebar .toctree-l2 a {
    padding: .25rem 1rem .25rem 1.75rem
}

.page-edit,
.page-nav {
    max-width: 740px;
    margin: 0 auto;
    padding: 2rem 2.5rem
}

@media (max-width:959px) {

    .page-edit,
    .page-nav {
        padding: 2rem
    }
}

@media (max-width:419px) {

    .page-edit,
    .page-nav {
        padding: 1.5rem
    }
}

.page {
    padding-top: 3.6rem;
    padding-bottom: 2rem
}

.page-edit {
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: auto
}

.page-edit .edit-link {
    display: inline-block
}

.page-edit .edit-link a {
    color: #4e6e8e;
    margin-right: .25rem
}

.page-edit .last-updated {
    float: right;
    font-size: .9em
}

.page-edit .last-updated .prefix {
    font-weight: 500;
    color: #4e6e8e
}

.page-edit .last-updated .time {
    font-weight: 400;
    color: #aaa
}

.page-nav {
    padding-top: 1rem;
    padding-bottom: 0
}

.page-nav .inner {
    min-height: 2rem;
    margin-top: 0;
    border-top: 1px solid #eaecef;
    padding-top: 1rem;
    overflow: auto
}

.page-nav .next {
    float: right
}

@media (max-width:719px) {
    .page-edit .edit-link {
        margin-bottom: .5rem
    }

    .page-edit .last-updated {
        font-size: .8em;
        float: none;
        text-align: left
    }
}